<span class="widget-content">
    {% assign tags = page.tags | sort %}
    {% for tag in tags %}
        <span class="site-tag">
            <a href="/tags.html#{{ tag | slugify }}-ref">
                {{ tag | replace:'-', ' ' }}
            </a>
        </span>
    {% endfor %}
    <a href="/tags">All Tags</a>
</span>
